$mobile: 450px;

.main.gallery {

    margin: 0 auto;

    .photo-viewer {

        // max-width: 74rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        // justify-content: center;
        // align-items: center;
    }

    .category {
        margin: 5vh auto;
        // background: rgb(254, 210, 255); // Debug
    }

    h1, h2, h3 {
        color: #555;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
    }

    img {
        width: 100%;
        height: 100%;
        // width: 300px;
        // height: 300px;
        object-fit: cover;
    }

    .image-list, &>div, ul>div {
        padding: 0;
        margin: 0;
        list-style: none;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(6, 1fr);

        @media screen and (max-width: 1300px) {
            grid-template-columns: repeat(5, 1fr);
        }
        @media screen and (max-width: 1100px) {
            grid-template-columns: repeat(4, 1fr);
        }
        @media screen and (max-width: 850px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (max-width: 640px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: $mobile) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // grid-template-columns: repeat(1, 1fr);
        }
        
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;

        li, .thumbnail {
            width: 200px;
            height: 200px;
            position: relative;
            aspect-ratio: 1;
            border: 1px solid #aaa;

            // @media screen and (max-width: $mobile) {
            //     width: 100%;
            //     height: auto;
            // }
            
            a {
                width: 100%;
                height: 100%;
            }
        }
        
    }
}


@media screen and (max-width: $mobile) {

    .main.gallery {
        margin: 0;
    
        .photo-viewer {
            margin: 0;
            padding: 0 10px;

            text-align: center;

            .category ul li {
                width: 100%;
                margin: auto;
                height: auto;
                border: none;
            }
        }
    }
}
