@import '_layout.scss';
@import '_footer.scss';
@import '_gallery.scss';
@import '_categories.scss';
@import '_homepageSections.scss';

$light-gray: #e6e6e6;

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    min-height: 100vh;
}

a {
    color: inherit;
    font-family: inherit;
    // text-decoration: none;
}


* {
    box-sizing: border-box;
}


.header {
    text-align: center;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: relative;
    z-index: 100;
    
    background-color: $light-gray;

    a {
        text-decoration: none;
        color: inherit;
        position: relative;
        z-index: 100;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: normal;
        letter-spacing: 0.05rem;
        line-height: 3rem;
    }
}

.navbar {
    // background-color: rgba(238, 238, 238, 0.24);
    padding: 2vh;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    background-color: $light-gray;
    position: relative;
    z-index: 100;


    ul {
        padding-left: 0;
        list-style: none;
        display: flex;
        gap: 3vw;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        li a {
            padding: .5rem;
            color: inherit;
            font-size: 1.5rem;
            text-decoration: none;
            font-size: 1.1rem;
            text-transform: uppercase;
            letter-spacing: 0.05rem;

            &.active {
                font-weight: 600;
            }
        }
    }
}
