---
// import 'prism-themes/themes/prism-ghcolors.css'
// import 'prism-react-renderer/themes/github.css'

import Layout from "../layouts/Layout.astro"


type PostFrontmatter = {
    url: string,
    title: string,
    image: string,
    publishDate: string,
    description: string,
}

// https://docs.astro.build/en/guides/markdown-content/#mdx-features
const posts = await Astro.glob('./opuscoli/*.md')
const post = posts[0]
const { Content } = post

const { pathname } = Astro.url

const { url, title, image, publishDate, description } = post.frontmatter

---


<Layout title={ title } textColor="black" showBackground={ false } page='opuscolo'>
    <!-- <h2>Title: { title }</h2> -->
    <div class="post-container">
        <div class="post">
            <Content/>
        </div>
        <aside class="sidebar">
            <h2 class="div">Opuscoli</h2>
            <ul>
            {
                posts.map(post => (
                    <li class={ pathname === '/'+post.frontmatter.url ? 'active' : 'inactive' }>
                        <a href={ post.frontmatter.url }>
                            { post.frontmatter.title }
                        </a>
                    </li>
                ))
            }
            </ul>
        </aside>
    </div>
</Layout>


<style lang="scss">
    .post-container {
        max-width: 60rem;
        background-color: white;
        padding: 1vh 2vw;
        margin: 0 auto;

        display: grid;
        grid-template-columns: 1fr auto;

        aside.sidebar {
            // background-color: bisque;
            padding: 1rem;
            border-left: 1px solid #ddd;

            h2 {
                margin: 0;
                font-size: 1.1rem;
                font-weight: normal;
            }

            ul {
                list-style: none;
                padding-left: 0;
            }

            li {
                color: darkgreen;
                font-weight: 600;
                padding: .1em .4em;

                &.active {
                    // color: white;
                    background-color: rgba(0, 100, 0, 0.2);
                }
            }

        }
    }
</style>

<!-- <Layout title={ post.frontmatter.title } headerImage={ coverImageUrl }>

    <div class="header-and-article overlap-onto-header">

        <PostHeader post={ post } coverImageUrl={ coverImageUrl }/>

        <div class='article-and-sidebar'>

            <div class="article-container">
                <article class={ `blog-post` } itemscope itemtype="http://schema.org/Article">
                    <Content components={ customHtmlComponents }/>
                </article>
            </div>

            <Sidebar>
                <Toc headings={ headings }/>
                <TagList someTags={ post.frontmatter.tags }/>
            </Sidebar>

        </div>

        { relatedPosts.length>0 ? <div class='more-posts'>related posts</div> : null }
    </div>


    {
        relatedPosts.length>0 &&
        <div class="related-posts">
            <PostsList posts={ relatedPosts.slice(0,5) }/>
        </div>
    }


    <MainButton><a href='/' class="view-all-posts">View all posts</a></MainButton>
</Layout> -->
