---
// Component Imports
import Layout from '../layouts/Layout.astro';
import HomepageSection from '../components/HomepageSection.astro';

// Data Fetching: List all Markdown posts in the repo.
let homepageSections = await Astro.glob('../content/homepage/*.md')
homepageSections = homepageSections.sort((a,b) => a.frontmatter.title < b.frontmatter.title ? -1 : 1)

// console.log({ homepageSections })

// let allPosts = await Astro.glob('./posts/*.md')
// allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf())

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout textColor='blue' footerColor='white' showBackground={ true } page='home'>

	<div class="gallery">
		<img src="/cover_mushroom.jpg" alt="mushroom" data-fancybox="gallery" data-src="/cover_mushroom.jpg">
		<img src="/cover_eco.jpg" alt="eco" data-fancybox="gallery" data-src="/cover_eco.jpg">
	</div>

	<main class="content">

		<div class='homepage-sections'>
			<!-- { homepageSections.map((p) => <BlogPostPreview post={p} />) } -->
			{ homepageSections.map((section,i) => (
				<HomepageSection imageUrl={ section.frontmatter.image } even={ i%2===0 } textColor={ i>=2 ? '#ddd' : '#045a94' }>
					<section.Content/>
				</HomepageSection>
			))}
		</div>

	</main>
</Layout>


<style lang="scss">
	.homepage-sections {
		// display: flex;
		// flex-direction: column;
		// align-items: center;
		// gap: 5vw;
        // max-width: 56rem;
		margin: 5vh auto;
		margin-bottom: 0;
		color: white;
	
		a {
			color: inherit;
			text-decoration: none;
		}
	
		.section-container {
			border-bottom: 1px solid rgba(255, 255, 255, 0.12);
			width: 100%;
			padding: 5vh 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
	
			&:nth-child(even) {
				background: rgba(255, 255, 255, 0.05);
			}
		}
		
		.section-container:nth-child(1),
		.section-container:nth-child(2) {
			color: #045a94;
			
			a[href $= '.pdf']::before {
				color: #146814;
				background-color: rgba(134, 214, 81, 0.7);
			}
		}
	
		.section-container:nth-child(odd) .homepage-section {
			flex-direction: row-reverse;
		}
	
	}
	
	</style>