---
// Component Imports
import Layout from '../layouts/Layout.astro';
import * as pageContent from '../content/info.md'


---

<Layout title="Info" textColor='blue' footerColor='white' showBackground={ false } page='info'>

	<main class="content">
		<div class='about-content'>
			<pageContent.Content/>
		</div>
	</main>
</Layout>


<style lang="scss" is:global>
	.about-content {
		max-width: 36rem;
		margin: 5vh auto;
		padding: 0 2vw;
		text-align: justify;

		h2 {
			text-align: center;
			font-size: 1.7em;
			line-height: 1.2em;
			margin-bottom: 1.5em;
		}

		img {
			max-width: 100%;
		}

		a {
			text-decoration: underline;
		}
	}
</style>