---
// Component Imports
import Layout from '../layouts/Layout.astro';
// import * as pageContent from '../content/info.md'
import * as pageContent from '../content/pages/info.mdx'
import MarkdownImage from '../components/MarkdownImage.astro';


const customHtmlElements = {
	img: MarkdownImage,
}

// console.log(pageContent.rawContent())

// const html = pageContent.compiledContent()
// before = '<img src="'
// const after = '<img src="/'

---

<Layout title="Info" textColor='blue' footerColor='white' showBackground={ false } page='info'>

	<main class="content">
		<div class='about-content'>
			<pageContent.Content components={ customHtmlElements }/>
		</div>
	</main>
</Layout>


<style lang="scss" is:global>
	.about-content {
		max-width: 36rem;
		margin: 5vh auto;
		padding: 0 2vw;
		text-align: justify;

		h2 {
			text-align: center;
			font-size: 1.7em;
			line-height: 1.2em;
			margin-bottom: 1.5em;
		}

		img {
			max-width: 100%;
		}

		a {
			text-decoration: underline;
		}
	}
</style>