---
const { textColor } = Astro.props

---

<footer class:list={ ["footer", textColor ]}>
    <span>Design © { (new Date()).getFullYear() } Vittorio Minuzzo</span>
    {
        import.meta.env.DEV &&
        <a href="/admin" target="_blank" class="admin">Admin Dashboard</a>
    }
</footer>

<style lang="scss">
    .footer {
        margin-top: auto;
        align-self: flex-end;
        padding: 1vh 1vw;
        background: rgba(0, 0, 0, 0.05);
        color: rgba(0, 0, 0, 0.4);
        width: 100%;
        text-align: center;
        font-size: 0.9rem;
        font-family: inherit;
        letter-spacing: 0.05rem;

        &.white {
            color: rgba($color: white, $alpha: .5);
        }
    }
    .admin {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        background-color: #555;
        color: white;
        padding: .5rem;
        border-radius: 3px;
        max-width: 8rem;
        border: 1px solid black;
    }
</style>