import SimpleReactLightbox from 'simple-react-lightbox'
import { SRLWrapper } from "simple-react-lightbox";


const options = {
    buttons: {
      showDownloadButton: false,
      // showFullscreenButton: false,
      showAutoplayButton: false,
      showThumbnailsButton: false,
    },
    settings: {
      slideAnimationType: 'slide',
      slideTransitionTimingFunction: 'easeInOut',
    }
  }


export default function Lightbox({ categoryName, imagesByCategory }) {

    return (
    <SimpleReactLightbox className='image-list'>
        <h2 id={ categoryName }>{ categoryName.replaceAll('_',' ') }</h2>
            <SRLWrapper options={ options }>
            {
            images.map((image,index) => {

                const { filename, url, width, height, format } = image

                const author = filename.includes('_vm_') ? 'Vittorio Minuzzo' : 'mmoblfoto.it'

                return (
                    <li className='thumbnail' key={ index }>
                        <a href={ url } data-fancybox="gallery" data-caption={ '© '+author }>
                            <Image
                                src={ url }
                                // width={ width }
                                // height={ height }
                                // objectFit='cover'
                                layout='fill'
                                alt={ '© '+author }
                            />
                        </a>
                    </li>
                )
            })
            }
            </SRLWrapper>
        </SimpleReactLightbox>
    )
}
